extends ../layouts/matrix_layout.pug

block variables
	- var activePage = 'blank-page'
	- var activeGroup = 'pages'
	- var date_format_options = {year:'numeric', month:'short', day:'numeric'};
	// Custom CSS
	link(rel='stylesheet', type='text/css', href='/extra-libs/multicheck/multicheck.css')
	//link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css')
	link(rel='stylesheet', type='text/css', href='/dist/css/datatables.min.css')
	//link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')-cdn
	link(rel='stylesheet', href='/dist/css/jquery-ui.css')



block content
	// ==============================================================
	// Container fluid
	// ==============================================================
	.container-fluid
		// ==============================================================
		// Start Page Content
		// ==============================================================
		//-label.control-label Search Invoice
		//-.row
			.col-lg-3
				input#inwardcargo_invoice_search_invoiceno_input.form-control(type='text', placeholder='Enter Invoice Number' name='inwardcargo_invoice_search_invoiceno_input', autocomplete="off")
			.col-lg-3
				button.btn.btn-danger.waves-effect.waves-light.save-category.ml-2.mb-3(type='button' onclick='findInvoice()') Find Invoice
				
		h3 Scanned Manifest
		.row
			.col-1.m-auto
				div.input-group-addon Station
			.col-2
				select#scannedffm_station.select2.form-control.custom-select(type='text', name='inwardcargo_igm_upload_select_igm_from_available_igm', autocomplete="off")
					each inward_port in inward_ports
						option(value=inward_port.iata_code)=inward_port.iata_code + ' (' + inward_port.city_name + ')'
			.col-5.mx-auto
				div.input-group.input-daterange
					input#scannedffm_start_date.form-control(type="text",placeholder="Select Start Date",data-date-end-date="0d")
					div.input-group-addon.my-auto TO
					input#scannedffm_end_date.form-control(type="text",placeholder="Select End Date",data-date-end-date="0d")
			.col-3.mx-2
				button.btn.btn-danger(onclick='getscannedffms()')
					i.fa.fa-file
					| &nbsp;&nbsp;Submit

		.card.mt-2
			.row.card-body
				.col-md-12
					.tile
						.tile-body
							table.table.table-bordered(style='background-color:white')#scannedffm_table
								thead
									tr
										th IGM no. / Date
										th Flight No / Date
										th Inward Date
										th Scanned Manifest
										th Status
										th Reason
										th Approved On
	
	#scannedffm_upload_modal.modal.fade.none-border
		.modal-dialog
			.modal-content
					.modal-header
						h4.modal-title
							i#scannedffm_upload_modal_title.mdi.mdi-city
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					.modal-body
						.row
							.input-group
								.custom-file
									input#scannedffm_upload.custom-file-input(type='file',name='scannedffm_upload')
									label#scannedffm_upload_label.custom-file-label Choose Scanned Manifest
								.input-group-append
									button#scannedffm_upload_button.btn.btn-danger(onclick='uploadScannedFFM()') Upload
							//-#scannedffm_upload_modal_transfer_date.col-md-6
								label.control-label Flight/Truck uplift Date
								input#scannedffm_upload_modal_transfer_date_input.form-control.form-white(placeholder='Select Transfer Date', type='text', name='scannedffm_upload_modal_transfer_date_input', autocomplete="off")
							//-#scannedffm_upload_modal_transfer_igm.col-md-6
								label.control-label Flight/Truck IGM Number
								input#scannedffm_upload_modal_transfer_igm_input.form-control.form-white(placeholder='Add Transfer IGM Number', type='text', name='scannedffm_upload_modal_transfer_igm_input', autocomplete="off" )
							//-#scannedffm_upload_modal_transfer_comments.col-md-12
								label.control-label Add Comments
								input#scannedffm_upload_modal_transfer_comments_input.form-control.form-white(placeholder='Enter Comments', type='text', name='scannedffm_upload_modal_transfer_comments_input', autocomplete="off")
							input#scannedffm_id(type='hidden', value='scannedffm_id')
					//-.modal-footer
						button#iscannedffm_add_comments_save.btn.btn-danger.waves-effect.waves-light.save-category(type='button', name='iscannedffm_add_comments_save', onclick='saveComments()') Save
						button.btn.btn-secondary.waves-effect(type='button', data-dismiss='modal') Close
						
	#scannedffm_approval_reason_modal.modal.fade.none-border
		.modal-dialog
			.modal-content
					.modal-header
						h4.modal-title
							i#scannedffm_approval_reason_modal_title.mdi.mdi-city
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					.modal-body
						.row
							//-.input-group
								.custom-file
									input#scannedffm_upload.custom-file-input(type='file',name='scannedffm_upload')
									label#scannedffm_upload_label.custom-file-label Choose Scanned FFM
								.input-group-append
									button#scannedffm_upload_button.btn.btn-danger(onclick='uploadScannedFFM()') Upload
							//-#scannedffm_upload_modal_transfer_date.col-md-6
								label.control-label Flight/Truck uplift Date
								input#scannedffm_upload_modal_transfer_date_input.form-control.form-white(placeholder='Select Transfer Date', type='text', name='scannedffm_upload_modal_transfer_date_input', autocomplete="off")
							//-#scannedffm_upload_modal_transfer_igm.col-md-6
								label.control-label Flight/Truck IGM Number
								input#scannedffm_upload_modal_transfer_igm_input.form-control.form-white(placeholder='Add Transfer IGM Number', type='text', name='scannedffm_upload_modal_transfer_igm_input', autocomplete="off" )
							.col-md-12
								label.control-label Add Comments
								input#scannedffm_approval_reason.form-control.form-white(placeholder='Enter Comments', type='text', name='scannedffm_approval_reason', autocomplete="off")
							input#scannedffm_approval_reason_modal_scannedffm_id(type='hidden', value='scannedffm_approval_reason_modal_scannedffm_id')
							input#scannedffm_approval_status(type='hidden', value='scannedffm_approval_status')
					.modal-footer
						button#scannedffm_add_comments_save.btn.btn-danger.waves-effect.waves-light.save-category(type='button', name='scannedffm_add_comments_save', onclick='saveApprovalComments()') Save
						button.btn.btn-secondary.waves-effect(type='button', data-dismiss='modal') Close

		// END MODAL
		// ==============================================================
		// End Container fluid
		// ==============================================================
	include ../includes/footer.pug
block specific-js
	// this page js
	//script(src='/libs/jquery/dist/jquery.min.js')
	script(src='/extra-libs/multicheck/datatable-checkbox-init.js')
	script(src='/extra-libs/multicheck/jquery.multicheck.js')
	script(src='/js/swal_helper.js')
	script(src='/js/helper.js')
	script(src='/js/validation.js')
	include ../includes/csrf.pug
	script.
		let scannedffm_table = $('#scannedffm_table').DataTable({
			//dom: 'lfrtBip',
			sScrollX: '100%',
			autoWidth: false,
			dom: 'lfrtip',
			buttons: [
				'copy', 'csv', 'excel', 'pdf', 'print'
			],
			"aoColumns": [
				{
					mData: 0,
					bSortable: false,
					mRender: function(data, type, full) {
						return '<div>'+data[0]+'</div><div><strong>'+data[1]+'</strong></div>';
					}
				},
				{
					mData: 1,
					bSortable: false,
					mRender: function(data, type, full) {
						return '<div>'+data[0]+'</div><div><strong>'+data[1]+'</strong></div>';
					}
				},
				{
					mData: 2,
					bSortable: false
				},
				{
					mData: 3,
					bSortable: false,
					bSearchable: true,
					mRender: function(data, type, full) {
						let return_html = '';
						console.log(data)
						if(data[0]) {
							return_html = '<div><a href=' + !{'"' + sails.config.custom.base_url + '"'} + encodeURI(data[0]) + '>View Copy</a></div><div><strong>' + data[1] + '</strong></div>';
						} else {
							if(!{sails.config.custom.access_allowed(user.role, 'User')}) {
								return_html = '<button class="btn btn-primary" onclick=\'showModalToUploadScannedFFM('+ JSON.stringify(full) +')\'>UPLOAD</button>';
							}
						}
						
						return return_html;
					}
				},
				{
					mData: 4,
					bSortable: false,
					mRender: function(data, type, full) {
						let html = '';
						
						switch(data[0]) {
							case 'upload_pending': 
								html = '<div class="text-center">UPLOAD PENDING</div>';
								break;
							case 'approval_pending': 
								if(!{sails.config.custom.access_allowed(user.role, 'Approver')}) {
									html = '<div><button class="btn btn-success" onclick=\'showApprovalCommentsModal(' + JSON.stringify(full) +', "ok")\'>APPROVE</button></div>';
									html += '<div><button class="btn btn-danger" onclick=\'showApprovalCommentsModal(' + JSON.stringify(full) +', "rejected")\'>DECLINE</button></div>';
								} else {
									html = '<div class="text-center">APPROVAL PENDING</div>';
								}
								break;
							case 'ok': 
								html = '<h3 class="text-success text-center"><i class="fas fa-check-circle"></i></h3>'
								if((Date.now() - data[1]) < 3*(24*60*60*1000)) {	//	3 days 
									if(!{sails.config.custom.access_allowed(user.role, 'AppAdmin')}) {
										html += '<div class="text-center"><button class="btn btn-warning" onclick=\'showApprovalCommentsModal(' + JSON.stringify(full) +', "revoked")\'>REVOKE</button></div>';
									}
								}
								break;
							case 'revoked':							
								html = '<div class="text-center">REVOKED</div>';
							case 'rejected':
								html += '<h3 class="text-danger text-center"><i class="fas fa-times-circle"/></h3>'
								break;
								
						}
						
						return html;
					}
				},
				{
					mData: 5,
					bSortable: false,
					mRender: function(data, type, full) {
						return '<div>' + (data ? data : '') + '</div>';
					}
				},
				{
					mData: 6,
					bSortable: false,
					mRender: function(data, type, full) {
						return '<div>' + data[0] + '</div><div class="badge badge-danger">' + data[1] + '</div>'
					}
				}
			]
		});
		
		$('#scannedffm_start_date').datepicker({
			format: "dd-M-yyyy",
			autoclose: true,
			todayHighlight: true,
		}).on('changeDate', function(selected_start_time){
			//console.log(selected_start_time.date);
			$('#scannedffm_end_date').datepicker('show');
		});
		
		$('#scannedffm_start_date').datepicker('show');
		
		$('#scannedffm_end_date').datepicker({
			format: "dd-M-yyyy",
			autoclose: true,
			todayHighlight: true
		}).on('changeDate', function(selected_end_time){
			console.log(selected_end_time)
			let start_time = $('#scannedffm_start_date').datepicker('getDate').getTime();
			let end_time = selected_end_time.date.getTime();
			
			if(end_time < start_time) {
				swal('Oops', 'Please select END-DATE larger or equal to START-DATE', 'error');
				$('#scannedffm_end_date').datepicker('update', '');
			}
		});
		
		function getscannedffms() {
			
			let start_time_picker = $('#scannedffm_start_date').datepicker('getDate');
			if(!start_time_picker) {
				swal('Oops', 'Please select START-DATE', 'error');
				return;
			}
			
			let end_time_picker = $('#scannedffm_end_date').datepicker('getDate');
			if(!end_time_picker) {
				swal('Oops', 'Please select END-DATE', 'error');
				return;
			}
			
			showStaticFakeLoader();
			getCSRFToken(function(_csrf) {
				$.post('/getscannedffmdata', {
					_csrf: _csrf,
					station: $('#scannedffm_station').val(),
					start_date: $('#scannedffm_start_date').datepicker('getDate').getTime(),
					end_date: $('#scannedffm_end_date').datepicker('getDate').getTime() + 24*60*60*1000
				}, function(data) {
					console.log(data);
					if(!data.error) {
						scannedffm_table.clear();
						if(data.data.length) {
							data.data.forEach(function(scannedffm, index) {
								let scannedffm_date = new Date(scannedffm.createdAt);
								let scannedffm_date_to_show = normalizeDigitsToTwo(scannedffm_date.getDate()) + '-' + normalizeDigitsToTwo(scannedffm_date.getMonth() + 1) + '-' + scannedffm_date.getFullYear();// + ', ' + normalizeDigitsToTwo(scannedffm_date.getHours()) + ':' + normalizeDigitsToTwo(scannedffm_date.getMinutes());
								let scannedffm_transfer_date = scannedffm.transfer_date > 0 ? new Date(scannedffm.transfer_date) : 0;
								let scannedffm_transfer_date_to_show = scannedffm_transfer_date > 0 ? (normalizeDigitsToTwo(scannedffm_transfer_date.getDate()) + '-' + normalizeDigitsToTwo(scannedffm_transfer_date.getMonth() + 1) + '-' + scannedffm_transfer_date.getFullYear()) : '';
								
								scannedffm_table.row.add([
									[scannedffm.igm.igm_number, getReadableDate(scannedffm.igm.igm_date), scannedffm.id],
									[scannedffm.igm.flight_number, getReadableDate(scannedffm.igm.flight_date)],
									getReadableDate(scannedffm.igm.inward_date),
									[scannedffm.filepath == "" ? null : scannedffm.filepath, getReadableDate(scannedffm.uploaded_on != 0 ? scannedffm.uploaded_on : '-', true)],
									[scannedffm.status, scannedffm.approved_on],
									scannedffm.reason,
									[getReadableDate(scannedffm.approved_on > 0 ? scannedffm.approved_on : '-', true), scannedffm.approved_by]
								]).draw(true);
							});
						} else {
							swal('Oops', 'There exists No data to show', 'info');
						}
						hideFakeLoader();
					}
				});
			});
		}
		
		let comment_validation_inputs = [
			
			{tagid: 'scannedffm_upload_modal_transfer_date_input', regex_name: 'free_text', allow_numbers: true, min: 0, required: true, errmsg: 'Please select a Date of Transfer'},
			{tagid: 'scannedffm_upload_modal_transfer_igm_input', regex_name: 'text', allow_numbers: true, min: 4, max: 10, required: true, errmsg: 'IGM must be between 4-10 characters'},
			{tagid: 'scannedffm_upload_modal_transfer_comments_input', regex_name: 'free_text', allow_numbers: true, min: 10, required: true, errmsg: 'Please enter a valid Comment of minimum 10 characters'},
			
			/*{tagid: 'quantity', text: '0', regex_name: 'any_number', errmsg: 'Only Digits are allowed for Quantity.'},
			{tagid: 'phone', text: '9876543210', regex_name: 'any_number', errmsg: 'the number should be decimal number', allow_negative: false, allow_decimal: true},
			{tagid: 'address', text: 'Brindavan', regex_name: 'text', errmsg: 'Address Error', allow_numbers: true, min: 3, other_chars: ' ', max: 5},*/
		];
		
		async function showModalToUploadScannedFFM(data) {
			//	The recotd is allowed for editing only by the people of transit station and not that of the destination station.
			if(data[0][3] === $('#scannedffm_station').val()) {
				errorSwal('Action Prohibited', 'This action is prohibited on this AWB for users of ' + data[0][3]);
				return;
			}
			
			$('#scannedffm_id').val(data[0][2]);
			$('#scannedffm_upload_modal_title').html('Upload Scanned FFM for IGM <span class="badge badge-info">' + data[0][0] + '</span>');
			
			/*$('#scannedffm_upload_modal_transfer_date_input').datepicker({
				format: "dd-M-yyyy",
				autoclose: true,
				todayHighlight: true,
			}).on('changeDate', function(selected_start_time){
				//console.log(selected_start_time.date);
				$('#scannedffm_end_date').datepicker('show');
			});*/
		
			//$('#scannedffm_upload_modal_transfer_date_input').val(data[3]);
			//$('#scannedffm_upload_modal_transfer_igm_input').val(data[2]);
			//$('#scannedffm_upload_modal_transfer_comments_input').val(data[4]);
			
			setScannedFFMFilename();
			$('#scannedffm_upload_modal').modal('show');
		}
		
		/*scannedffm_table.on('click', 'tr', function () {
			var data = scannedffm_table.row( this ).data();
			//alert( 'You clicked on '+data[0]+'\'s row' );
			showModalToUploadScannedFFM(data);
		});*/
		
		function setScannedFFMFilename(fileName) {
			$('#scannedffm_upload_label').text(fileName ? fileName : 'Choose Scanned FFM');
		}
		
		$('#scannedffm_upload').change(function (e) {
			var fileName = e.target.files[0].name;
			setScannedFFMFilename(fileName);
		});
		
		
		//$('#scannedffm_upload_modal').modal('show');
		function uploadScannedFFM() {
			showStaticFakeLoader();
			getCSRFToken(function(_csrf) {
				var myFormData = new FormData();
				scannedffm_upload = $('#scannedffm_upload')
				myFormData.append('_csrf', _csrf);
				myFormData.append('scannedffm_id', $('#scannedffm_id').val());
				myFormData.append('scannedffm_upload', scannedffm_upload.prop('files')[0]);
				//myFormData.append('stationSourceInput', $('#stationSourceSelect').val());
				//myFormData.append('stationDestinationInput', $('#stationDestinationSelect').val());

				$.ajax({
					url: '/uploadscannedffm',
					type: 'POST',
					processData: false, // important
					contentType: false, // important
					//dataType : 'json',
					data: myFormData
				}).done(function(data) {
					$('#scannedffm_upload_modal').modal('hide');
					console.log('uploading done');
					hideFakeLoader();
					setScannedFFMFilename();
					getscannedffms();
				}).fail(function(jqXHR, status, error) {
					hideFakeLoader();
					console.log(error);
					console.log(status)
					console.log('uploading failed');
				});
			});
		}
		
		function showApprovalCommentsModal(data, status) {
			let action = '';
			switch(status) {
				case 'ok': action='Approve'; break;
				case 'rejected': action='Decline'; break;
				case 'revoked': action='Revoke'; break;
			}
			
			$('#scannedffm_approval_reason_modal_title').html(action + ' Scanned Copy for IGM - <span class="badge badge-info">' + data[0][0] + '</span>');
			$('#scannedffm_approval_reason_modal_scannedffm_id').val(data[0][2]);
			$('#scannedffm_approval_reason').val('');
			$('#scannedffm_approval_status').val('' + status);
			
			$('#scannedffm_approval_reason_modal').modal('show');
		}
		
		function saveApprovalComments() {
			if($('#scannedffm_approval_reason').val()) {
				getCSRFToken(function(_csrf) {
					$.post('/scannedffmapproval', {
						_csrf: _csrf,
						scannedffm_id: $('#scannedffm_approval_reason_modal_scannedffm_id').val(),
						scannedffm_approval_reason: $('#scannedffm_approval_reason').val(),
						scannedffm_approval_status: $('#scannedffm_approval_status').val(),
					}, function(data) {
						$('#scannedffm_approval_reason_modal').modal('hide');
						getscannedffms();
					});
				});
			} else {
				swal('Oops', 'Please enter reasons', 'error');
			}
		}
